
body{
    background-color: beige;
}


.heading{
    background-color: rgb(130, 23, 23);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding:0px 20px;
}

section{
    padding: 0px 20px;
    max-width: 1000px;
}

.navegation nav ul a{
    text-decoration: none;
    color: white;
        
}

img{
    width:300px;
}

h2{
    text-decoration: underline;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    max-width: 50px;
}